.baseButton {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border: 1px solid;
    border-color: var(--urfu-blue);
    border-radius: 5px;
}

.filledButton {
    background: var(--urfu-blue);

    color: #fff;
}