@import './reset';

:root {
    --main-font: 'Manrope', Aerial;
}

.container {
    padding-left: 85px;
    padding-right: 85px;
}

.baseButton {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--main-fonr), Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #232323;
    text-align: center;

    background-color: #fff;
    border: 1px solid;
    border-color: #D12965;
    border-radius: 5px;
}

.filledButton {
    background: linear-gradient(180deg, #CB0E70 -26%, #F1B72C 183%);

    color: #fff;
}

.coloredText {
    color: #D12965;
}