.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    * {
        flex-grow: 1;
    }
}

.formButton {
    flex-grow: 1;
}