.table {
    border-collapse: collapse;
    width: 100%;
    background-color: var(--white);
    border-radius: 1rem;
    overflow: hidden;

    th, td {
        border-bottom: 1px solid var(--urfu-grey);
        padding: 8px;
    }

    th {
        border-bottom: 2px solid var(--urfu-blue);
    }
    thead tr th {
        padding: 1rem;
    }
    tbody tr:hover {
        background-color: var(--urfu-grey);
    }

    .actions {
        text-align: center;
        a {
            margin: 0.25rem;
            color: var(--urfu-blue);
        }
    }
}