.header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 6rem;
  padding: 1rem;
  gap: 3rem;
  background: var(--urfu-blue);

  .logo {
    height: 3rem;
    width: 10rem;
    display: flex;
    flex-shrink: 0;
    //TODO: replace with purpose white logo
    filter: brightness(0) invert(1);
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;

    .headerLink {
      font-family: var(--main-font), system-ui;
      color: var(--white);
      font-weight: 700;
    }
  }

  .profileContainer {
    margin-left: auto;
    position: relative;
  }

  .profileButton {
    height: 100%;
    width: 100%;
  }

  .profileIcon {
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    img {
      //TODO: replace with colored svg
      filter: brightness(0) invert(1);
    }
  }
}




.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;

  padding: 15px;

  background-color: #fff;
  border: 1px solid #B2B1B1;
  border-radius: 5px;

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.dropdownImage {
  margin-right: 5px;
}

.exitButton {
  font: inherit;
  text-align: left;
}