.tableEnd {
  text-align: center;
  padding: 1rem;
}

.tableLoad {
    text-align: center;
    padding: 1rem;
    @keyframes pulse {
        0% {
        color: var(--urfu-transparent-black);
        }
        50% {
          color: var(--urfu-black);
        }
        100% {
          color: var(--urfu-transparent-black);
        }
    }
  & {
    animation: pulse 2s infinite;
  }
}

.filters {
  display: flex;
  gap: 1rem;
}

.addDocument {
  width: fit-content;
  display: flex;
  gap: 8px;
  font-size: 20px;
  margin: .5rem 0;
  color: var(--urfu-blue);
}