.tableEnd {
  text-align: center;
  padding: 1rem;
}

.tableLoad {
    text-align: center;
    padding: 1rem;
    @keyframes pulse {
        0% {
        color: var(--urfu-transparent-black);
        }
        50% {
          color: var(--urfu-black);
        }
        100% {
          color: var(--urfu-transparent-black);
        }
    }
  & {
    animation: pulse 2s infinite;
  }
}