.baseInput {
    padding: 14px 20px;

    border: 1px solid #D2D2D2;
    border-radius: 5px;

    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.baseLabel {
    margin-bottom: 8px;

    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}