.table {
    position: relative;
    display: table;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        border: 1px solid #D2D2D2;
    }

    td {
        border-top: none;
    }

    td,
    th {
        padding: 9px;

        font-family: var(--main-font);
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        vertical-align: middle;
    }

    th {
        font-weight: 600;
    }

    td:first-child,
    th:first-child {
        text-align: center;
    }

    tbody {
        position: relative;
    }
}



.tableButton {
    height: 38px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    height: 100%;
    width: 100%;
}

.tableButton {
    padding: 4px;
    flex-grow: 1;
}



.buttonIcon {
    display: inline-block;
    margin-right: 7px;
}

.loop {
    position: absolute;
    right: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
    
    cursor: pointer;
}

.collapse {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.applicationAreaContainer {
    padding: 10px;
    max-width: 175px;

    border-radius: 7px;
}